body {
    height: 100vh;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container{
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 700px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.content{
    width: 60%;
    padding-right: 30px;
}

header{
    font-size: 24px;
    font-weight: bold;
    color: #1E1E1E;
}

p{
    font-size: 16px;
    color: #4F4F4F;
    line-height: 1.5;
}


ul {
    list-style: none;
    padding-left: 0;
}
  
ul li {
    font-size: 16px;
    color: #1E1E1E;
    margin-bottom: 16px;
}

ul li::before {
    content: "";
    background: url('/assets/images/icon-list.svg') no-repeat center;
    background-size: contain;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 8px; /* Space between icon and text */
}

.label{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}

input[type="email"]{
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    padding: 10px 15px;
    border-radius: 5px;
}

button{
    background-color: #1E1E1E;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.image{
    width: 50%;
    height: 100%;
}